<!DOCTYPE html>
<html>
<head>
  <link href="/public/style.css" rel="stylesheet" type="text/css">
  <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
        <h1>Login using...</h1>
    <main>
        <a class="google-btn" href="/auth/google">Google+</a>
    </main>
</body>
</html>