<!DOCTYPE html>
<html>
<head>
  <link href="/public/style.css" rel="stylesheet" type="text/css">
  <%- include('../partials/head'); %>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<div>
<form action="/categories/newCategory" method="POST" enctype="multipart/form-data">
    <div>
        <label for="catName">Category Name:</label>
        <input type="text" id="catName" name="catName" required><br>
        <label for="catImage">Category Thumbnail:</label>
        <input type="file" name="catImage" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</div>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>